@import url('https://fonts.googleapis.com/css?family=Montserrat|Jura:400,500,600,700&subset=cyrillic');
html {
   font-size: 10px;
}
*, body {
   margin: 0;
   padding: 0;
   font-family: 'Jura', sans-serif;
}

.header .content-box {
   display: flex;
   height: 100%;
   flex-direction: column;
   justify-content: space-between;
}

.top-header {
   display: flex;
   justify-content: space-between;
}
.menu-btn-show {
   width: 51px;
   height: 36px;
   background-image: url(../images/menu\ icon.png);
   margin-right: 50px;
}
.logo {
   border-radius: 10px;
   background-color: rgba(255, 255, 255, 0.1);
   padding: 0 5px;
}
nav {
   position: absolute;
   top: -50px;
   left: 50%;
   transform: translateX(-50%)
}

nav .menu {
   background-color: #000;
   width: 100%;
   height: 100%;
   padding-top: 200px;
   list-style-type: none;
   box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.1);
}
.menu li a{
   text-decoration: none;
   text-transform: uppercase;
   font-size: 5rem;
   color: #626262;
   display: block;
   height: 60px;
   margin: 20px 200px;
}
.menu li a:hover {
   text-decoration: underline;
   color: #fff;
}
.menu li a.menu-btn-close {
   position: absolute;
   top: 100px;
   right: 0;
   width: 51px;
   height: 36px;
   margin: 0;
   background-image: url(../images/menu\ close.png);
   margin-right: 50px;
}

.middle-header {
   position: relative;
   align-self: flex-end;
   width: 680px;
   height: 210px;
   border-radius: 50px;
   padding: 20px;
   background-color: rgba(255, 255, 255, 0.1)
}

.big-text {
   font-size: 15rem;
   font-weight: 300;
   color: rgba(255, 255, 255, 0.800);
   text-align: right;
}
.small-text {
   color: rgba(255,255,255);
   text-align: right;
   font-size: 1.5rem;
}
.switchers {
   display: flex;
   justify-content: center;
   width: 100%;
   margin: 0 auto;
   padding-bottom: 100px;
}
.switchers li {
   list-style-type: none;
   margin: 0 20px;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: #000;
}
.switchers li:hover {
   cursor: pointer;
}
.switchers li.active {
   background-color: #fff;
}

.about {
   height: 1000px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
   overflow: hidden;
}
blockquote {
   margin: 0;
   background: white;
   border-top: 5px solid #EAF9F9;
   border-bottom: 5px solid #EAF9F9;
   color: #3A3C55;
   padding: 30px 30px 30px 90px;
   position: relative;
   font-weight: 300;
   z-index: 10;
   }
   blockquote:before {
   content: "\201C";
   font-family: serif;
   position: absolute;
   left: 20px;
   top: 20px;
   color: white;
   background: #FB6652;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   font-size: 5rem;
   line-height: 1.35;
   text-align: center;
   }
   blockquote p {
   font-family: 'Montserrat', serif;
   margin: 0 0 16px;
   font-size: 2.2rem;
   letter-spacing: .05em;
   line-height: 1.4;
   }
   blockquote cite {
   font-family: 'Montserrat', serif;
   font-style: normal;
   }
   .deathspeaks {
      font-family: 'Montserrat', serif;
      font-variant: small-caps; 
   }

.message-icon {
   position: fixed;
   bottom: 5%;
   right: 5%;
   display: none;
   background-color: #538736;
   border-radius: 50%;
   border: 10px solid #538736;
   transition: all 0.3s;
   width: 5rem;
   height: 5rem;
}
.message-icon img {
   position: relative;
   top: 3px;
   width: 5rem;
   height: 5rem;
   animation: wiggle 10s linear 5s infinite;
}
.message-icon:hover {
   cursor: pointer;
   box-shadow: 0 0 5px 5px #538736;
}
.message-input {
   position: fixed;
   right: -25rem;
   bottom: 5%;
   width: 20rem;
   height: 15rem;
   background-color: #538736;
   padding: 1rem;
   border-radius: 1.5rem;
   animation: halo 5s ease 1s infinite;
   transition: right 0.3s ease;
}
.message-input .title {
   color: white;
   text-align: center;
   font-size: 2rem;
}
#message-close {
   display: block;
   position: absolute;
   right: 5%;
   top: 2%;
   font-size: 1.5rem;
   text-decoration: none;
   color: white;
}
#message {
   width: calc(100% - 1rem);
   display: block;
   margin: 1.5rem auto;
   font-size: 2rem;
   padding: 0.1rem;
   font-weight: bold;
}
.message-input button {
   background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
   background-position: 0 0;
   width: 10rem;
   height: 5rem;
   display: block;
   margin: 0 auto;
   border-radius: 1rem;
   border: none;
   outline: none;
   transition: background-position 0.5s;
}
.message-input button:hover {
   background-position: 100px 100px;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.message-input button:active {
   box-shadow: 0 12px 16px 0 rgb(4, 107, 43);
}
.message-input.active {
   right: 5%;
   bottom: 5%;
}

@media screen and (min-width: 1240px){
   .header {
      height: 1000px;
      width: 100%;
      padding-top: 50px;
      position: relative;
   }   
   .content-box {
      width: 1200px;
      margin: 0 auto;
   } 
   .logo img {
      width: 300px;
   }   
}

@media screen and (max-width: 768px) {
   .logo {
      display: flex;
      align-items: center;
   }
   .logo img {
      width: 150px;
   }   
   nav {
      width: 100%;
   }
   .menu li a{
      text-decoration: none;
      text-transform: uppercase;
      font-size: 5rem;
      color: #626262;
      display: block;
      height: 60px;
      text-align: center;
      margin: 20px;
   }
   .top-header {
      padding: 20px;
   }
   .menu-btn-close, .menu-btn-show {
      margin-right: 1rem;
   }
   .header {
      height: 100vh;
      background-position: center;
   }
   .middle-header {
      align-self: center;
      box-sizing: border-box;
      max-width: 100%;
      
   }
   .big-text {
      font-size: 7.5rem;
   }
}

@keyframes wiggle {
   0%  { transform: rotate(0deg) }
   1% { transform: rotate(-30deg) }
   2% { transform: rotate(30deg) }
   3% { transform: rotate(-25deg) }
   4% { transform: rotate(25deg) }
   5% { transform: rotate(-20deg) }
   6% { transform: rotate(20deg) }
   7% { transform: rotate(0deg) }

   100% { transform: rotate(0deg) }
}

@keyframes halo {
   0%   {box-shadow: 0px 0px 20px 2px #4f7e35ce}
   50% {box-shadow: 0px 0px 20px 20px #4f7e35ce}
   100%   {box-shadow: 0px 0px 20px 2px #4f7e35ce}
}
